body{
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

nav{
    background-color: black;
    height: 50px;
    display: flex;
    justify-content: space-between;
}
nav h2{
    color: white;
    margin: 4px 15px;
}
 nav ul li{
    list-style-type: none;
    display: inline-block;
    padding: 10px;
    margin-right: 20px;
}
nav ul li a{
    text-decoration: none;
    color: white;
    font-size: 20px;
}
nav ul li a:hover{
    color: #fac031;
}

/* about me */
.about-container{
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 0 86px;
}
#about-me h2{
    font-size: 50px;
    position: relative;
    text-align: center;
    margin-top: 50px;
}
 .about-text-container  h4{
    color: blueviolet;
}
.about-text-container p {
    width: 90%;
    text-align: justify;
    line-height: 30px;
   
}
.about-container .img img{
    height: 450px;
    width: 300px;
}

/* project */
#projects h2{
    font-size: 50px;
    position: relative;
    text-align: center;
    margin-top: 50px;
}
.card h3{
    text-align: center;
}

.container .row{
    margin-bottom: 40px;
    margin-top: 40px;
}
.container .card{
    grid-gap: 10px;
    border: none;
}
.card a button{
    margin: 0 267px;
    width: 100px;
    background: sandybrown;
    font-weight: 700;
}
.card a button:hover{
    background: black;
    color: white;
}
.row img{
    transition: 0.3s;
}
.row img:hover{
    cursor: pointer;
}
.row img:active{
   transform: scale(0.8);
}

/* skills */
#skills h2{
    font-size: 50px;
    position: relative;
    text-align: center;
    margin-top: 50px;
}
.skills-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
    margin-top: 40px;
  }
.skills-container i{
    font-size: 2.5em;
  }


/* contact */
#contact h2{
    font-size: 50px;
    position: relative;
    text-align: center;
    margin-top: 50px;
}
.contact-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
    margin-top: 40px;
  }
.contact-container a i{
    color: black;
    font-size: 2em;
  }

  /* footer */
  footer{
    text-align: center;
    margin-top: 40px;
  }
  .heart{
    color: red;
  }